.App {
  text-align: center;
  padding: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  margin: 1rem;
}

.card{
  margin: 1rem;
}

.card img{
  width: 100%;
  height: 70%;
  cursor: pointer;
}

.restaurants{
  text-align: left;
  margin: 1rem;
}

.restaurant-details {
  text-align: left;
  width: 50%;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 1rem;
}

p{
  margin-bottom: 0 !important;
  color: grey;
}

.profile-img{
  width: 3rem;
  border-radius: 50%;
}

span{
  margin: 1rem;
}

.review{
  margin-top: 2rem;
}

.rating{
  color: yellow;
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
}

.back-button{
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
}

.back-button:hover{
  background-color: azure;
  cursor: pointer;
}

.restaurant-container{
  width: 70%;
  margin-left: 20%;
}

.restaurant-name{
  text-decoration: underline;
  color: #dc3545;
  cursor: pointer;
}